<% if (typeof(googlePublisherId) !== "undefined") { %>
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=<%= googlePublisherId %>"
  crossorigin="anonymous"
></script>

<div class="ads-placeholder" align="center">
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client="<%= googlePublisherId %>"
    data-ad-slot="<%= adId %>"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    (adsbygoogle = window.adsbygoogle || []).push({});
  });
</script>
<% } %>
