<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/static/fav.png" />
  <link
    href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/base16/railscasts.min.css"
  />
  <link href="/static/css/common.css" rel="stylesheet" />
  <link href="/static/css/docs.css" rel="stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
  <script defer src="/static/js/docs.js"></script>
  <script defer src="/static/js/common.js"></script>
  <title>
    DummyJSON | <%= page ? page.toUpperCase() : 'Docs' %> - Fake REST API of
    JSON data for development
  </title>
</head>
