<span class="social-links">
  <a href="https://github.com/Ovi/DummyJSON" target="_blank">
    <img src="https://assets.dummyjson.com/public/img/icons/github.svg" alt="Github">
  </a>
  <a href="https://x.com/DummyJSON" target="_blank">
    <img src="https://assets.dummyjson.com/public/img/icons/twitter_x.svg" alt="Github">
  </a>
  <a href="https://linkedin.com/company/DummyJSON" target="_blank">
    <img src="https://assets.dummyjson.com/public/img/icons/linkedin.svg" alt="Github">
  </a>
</span>

<script src="https://assets.dummyjson.com/public/js/prism.min.js" async defer></script>
<script src="https://assets.dummyjson.com/public/js/common.min.js" defer></script>
<script src="https://assets.dummyjson.com/public/js/docs.min.js"></script>