<nav class="docs-nav">
  <ul class="docs-menu">
    <li>
      <a href="/docs/image" class="parent-menu-item">
        <svg>
          <use href="/public/img/icons/image.svg#svg-img"></use>
        </svg>
        DummyJSON Image
      </a>

      <ul class="child-menu">
        <li>
          <a href="/docs/image/#image-square">
            Generate square image
          </a>
        </li>

        <li>
          <a href="/docs/image/#image-custom-size">
            Custom width / height
          </a>
        </li>

        <li>
          <a href="/docs/image/#image-custom-text">
            Custom text
          </a>
        </li>

        <li>
          <a href="/docs/image/#image-custom-color">
            Custom Custom Background and Text Color
          </a>
        </li>

        <li>
          <a href="/docs/image/#image-format">
            Different file formats
          </a>
        </li>

        <li>
          <a href="/docs/image/#image-font-family">
            Custom font family
          </a>
        </li>

        <li>
          <a href="/docs/image/#image-font-size">
            Custom font size
          </a>
        </li>

        <li>
          <a href="/docs/image/#image-identicon">
            Create identicon
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs" class="parent-menu-item">
        <svg>
          <use href="/public/img/icons/home.svg#svg-img"></use>
        </svg>
        Intro
      </a>

      <ul class="child-menu">
        <li>
          <a href="/docs/#intro-test">
            Test
          </a>
        </li>

        <li>
          <a href="/docs/#intro-limit">
            Limiting Resources
          </a>
        </li>

        <li>
          <a href="/docs/#intro-delay">
            Delay Responses
          </a>
        </li>

        <li>
          <a href="/docs/#intro-auth">
            Resources as Auth User
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs/auth" class="parent-menu-item">
        <svg>
          <use href="/public/img/icons/lock.svg#svg-img"></use>
        </svg>
        Auth
      </a>

      <ul class="child-menu">
        <li>
          <a href="/docs/auth/#auth-login">
            Login and get token
          </a>
        </li>

        <li>
          <a href="/docs/auth/#auth-me">
            Get auth user
          </a>
        </li>

        <li>
          <a href="/docs/auth/#auth-refresh">
            Refresh token
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs/products" class="parent-menu-item">
        <svg>
          <use href="/public/img/icons/headphones.svg#svg-img"></use>
        </svg>
        Products
      </a>

      <ul class="child-menu">
        <li>
          <a href="/docs/products/#products-all">
            Get all products
          </a>
        </li>

        <li>
          <a href="/docs/products/#products-single">
            Get a single product
          </a>
        </li>

        <li>
          <a href="/docs/products/#products-search">
            Search products
          </a>
        </li>

        <li>
          <a href="/docs/products/#products-limit_skip">
            Limit & Skip products
          </a>
        </li>

        <li>
          <a href="/docs/products/#products-sort">
            Sort products
          </a>
        </li>

        <li>
          <a href="/docs/products/#products-categories">
            Get all products categories
          </a>
        </li>

        <li>
          <a href="/docs/products/#products-category_list">
            Get products category list
          </a>
        </li>

        <li>
          <a href="/docs/products/#products-category">
            Get products by category
          </a>
        </li>

        <li>
          <a href="/docs/products/#products-add">
            Add a product
          </a>
        </li>

        <li class="put">
          <a href="/docs/products/#products-update">
            Update a product
          </a>
        </li>

        <li class="delete">
          <a href="/docs/products/#products-delete">
            Delete a product
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs/carts" class="parent-menu-item">
        <svg>
          <use href="/public/img/icons/cart.svg#svg-img"></use>
        </svg>
        Carts
      </a>

      <ul class="child-menu">
        <li>
          <a href="/docs/carts/#carts-all">
            Get all carts
          </a>
        </li>

        <li>
          <a href="/docs/carts/#carts-single">
            Get a single cart
          </a>
        </li>

        <li>
          <a href="/docs/carts/#carts-user">
            Get carts by user
          </a>
        </li>

        <li>
          <a href="/docs/carts/#carts-add">
            Add a cart
          </a>
        </li>

        <li class="put">
          <a href="/docs/carts/#carts-update">
            Update a cart
          </a>
        </li>

        <li class="delete">
          <a href="/docs/carts/#carts-delete">
            Delete a cart
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs/recipes" class="parent-menu-item">
        <svg>
          <use href="/public/img/icons/fire.svg#svg-img"></use>
        </svg>
        Recipes
      </a>

      <ul class="child-menu">
        <li>
          <a href="/docs/recipes/#recipes-all">
            Get all recipes
          </a>
        </li>

        <li>
          <a href="/docs/recipes/#recipes-single">
            Get a single recipe
          </a>
        </li>

        <li>
          <a href="/docs/recipes/#recipes-search">
            Search recipes
          </a>
        </li>

        <li>
          <a href="/docs/recipes/#recipes-limit_skip">
            Limit & Skip recipes
          </a>
        </li>

        <li>
          <a href="/docs/recipes/#recipes-sort">
            Sort recipes
          </a>
        </li>

        <li>
          <a href="/docs/recipes/#recipes-tags">
            Get all recipes tags
          </a>
        </li>

        <li>
          <a href="/docs/recipes/#recipes-tag">
            Get recipes by tag
          </a>
        </li>

        <li>
          <a href="/docs/recipes/#recipes-meal">
            Get recipes by meal
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs/users" class="parent-menu-item">
        <svg>
          <use href="/public/img/icons/user.svg#svg-img"></use>
        </svg>
        Users
      </a>

      <ul class="child-menu">
        <li>
          <a href="/docs/users/#users-all">
            Get all users
          </a>
        </li>

        <li>
          <a href="/docs/users/#users-login">
            Login user
          </a>
        </li>

        <li>
          <a href="/docs/users/#users-me">
            Get auth user
          </a>
        </li>

        <li>
          <a href="/docs/users/#users-single">
            Get a single user
          </a>
        </li>

        <li>
          <a href="/docs/users/#users-search">
            Search users
          </a>
        </li>

        <li>
          <a href="/docs/users/#users-filter">
            Filter users
          </a>
        </li>

        <li>
          <a href="/docs/users/#users-limit_skip">
            Limit & Skip users
          </a>
        </li>

        <li>
          <a href="/docs/users/#users-sort">
            Sort users
          </a>
        </li>

        <li>
          <a href="/docs/posts/#posts-tags">
            Get all posts tags
          </a>
        </li>

        <li>
          <a href="/docs/posts/#posts-tag_list">
            Get posts tag list
          </a>
        </li>

        <li>
          <a href="/docs/posts/#posts-tag">
            Get posts by tag
          </a>
        </li>

        <li>
          <a href="/docs/users/#users-carts">
            Get user's carts
          </a>
        </li>

        <li>
          <a href="/docs/users/#users-posts">
            Get user's posts
          </a>
        </li>

        <li>
          <a href="/docs/users/#users-todos">
            Get user's todos
          </a>
        </li>

        <li>
          <a href="/docs/users/#users-add">
            Add a user
          </a>
        </li>

        <li class="put">
          <a href="/docs/users/#users-update">
            Update a user
          </a>
        </li>

        <li class="delete">
          <a href="/docs/users/#users-delete">
            Delete a user
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs/posts" class="parent-menu-item">
        <svg>
          <use href="/public/img/icons/pen.svg#svg-img"></use>
        </svg>
        Posts
      </a>

      <ul class="child-menu">
        <li>
          <a href="/docs/posts/#posts-all">
            Get all posts
          </a>
        </li>

        <li>
          <a href="/docs/posts/#posts-single">
            Get a single post
          </a>
        </li>

        <li>
          <a href="/docs/posts/#posts-search">
            Search posts
          </a>
        </li>

        <li>
          <a href="/docs/posts/#posts-limit_skip">
            Limit & Skip posts
          </a>
        </li>

        <li>
          <a href="/docs/posts/#posts-sort">
            Sort posts
          </a>
        </li>

        <li>
          <a href="/docs/posts/#posts-user">
            Get post by user id
          </a>
        </li>

        <li>
          <a href="/docs/posts/#posts-comments">
            Get post's comments
          </a>
        </li>

        <li>
          <a href="/docs/posts/#posts-add">
            Add a post
          </a>
        </li>

        <li class="put">
          <a href="/docs/posts/#posts-update">
            Update a post
          </a>
        </li>

        <li class="delete">
          <a href="/docs/posts/#posts-delete">
            Delete a post
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs/comments" class="parent-menu-item">
        <svg>
          <use href="/public/img/icons/chat.svg#svg-img"></use>
        </svg>
        Comments
      </a>

      <ul class="child-menu">
        <li>
          <a href="/docs/comments/#comments-all">
            Get all comments
          </a>
        </li>

        <li>
          <a href="/docs/comments/#comments-single">
            Get a single comment
          </a>
        </li>

        <li>
          <a href="/docs/comments/#comments-limit_skip">
            Limit & Skip comments
          </a>
        </li>

        <li>
          <a href="/docs/comments/#comments-post">
            Get comment by post id
          </a>
        </li>

        <li class="comment">
          <a href="/docs/comments/#comments-add">
            Add a comment
          </a>
        </li>

        <li class="put">
          <a href="/docs/comments/#comments-update">
            Update a comment
          </a>
        </li>

        <li class="delete">
          <a href="/docs/comments/#comments-delete">
            Delete a comment
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs/todos" class="parent-menu-item">
        <svg>
          <use href="/public/img/icons/todo.svg#svg-img"></use>
        </svg>
        Todos
      </a>

      <ul class="child-menu">
        <li>
          <a href="/docs/todos/#todos-all">
            Get all todos
          </a>
        </li>

        <li>
          <a href="/docs/todos/#todos-single">
            Get a single todo
          </a>
        </li>

        <li>
          <a href="/docs/todos/#todos-random">
            Get a random todo
          </a>
        </li>

        <li>
          <a href="/docs/todos/#todos-limit_skip">
            Limit & Skip todos
          </a>
        </li>

        <li class="todo">
          <a href="/docs/todos/#todos-add">
            Add a todo
          </a>
        </li>

        <li class="put">
          <a href="/docs/todos/#todos-update">
            Update a todo
          </a>
        </li>

        <li class="delete">
          <a href="/docs/todos/#todos-delete">
            Delete a todo
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs/quotes" class="parent-menu-item">
        <svg>
          <use href="/public/img/icons/quotes.svg#svg-img"></use>
        </svg>
        Quotes
      </a>

      <ul class="child-menu">
        <li>
          <a href="/docs/quotes/#quotes-all">
            Get all quotes
          </a>
        </li>

        <li>
          <a href="/docs/quotes/#quotes-single">
            Get a single quote
          </a>
        </li>

        <li>
          <a href="/docs/quotes/#quotes-random">
            Get a random quote
          </a>
        </li>

        <li>
          <a href="/docs/quotes/#quotes-limit_skip">
            Limit & Skip quotes
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs/http" class="parent-menu-item">
        <svg>
          <use href="/public/img/icons/globe.svg#svg-img"></use>
        </svg>
        Mock HTTP
      </a>

      <ul class="child-menu">
        <li>
          <a href="/docs/http/#http-mock">
            Mock HTTP Response
          </a>
        </li>
        <li>
          <a href="/docs/http/#http-custom">
            Custom HTTP Response
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>