<footer>
  <a
    class="github-button"
    href="https://github.com/Ovi/DummyJSON"
    data-color-scheme="no-preference: dark_high_contrast; light: light_high_contrast; dark: dark_high_contrast;"
    data-icon="octicon-star"
    data-size="large"
    data-show-count="true"
    aria-label="Star ovi/DummyJSON on GitHub"
  >
    Star this Repo
  </a>
</footer>

<script async defer src="https://buttons.github.io/buttons.js"></script>
