<div class="not-supported">
  screen size not supported
</div>

<header>
  <nav>
    <div class="logo">
      <a class="no-underline" href="/">dummy<b>JSON</b></a>
    </div>
    <ul id="navItems" class="items">
      <li class="<%= path === 'home' ? 'active' : '' %>">
        <a href="/">Home</a>
      </li>
      <li class="<%= path === 'docs' ? 'active' : '' %>">
        <a href="/docs">Docs</a>
      </li>
      <li>
        <a href="https://github.com/Ovi/DummyJSON" target="_blank">GitHub</a>
      </li>
      <li class="coffee-link">
        <a
          href="https://www.paypal.com/donate?business=info%40embroideryjob.com&amount=5&item_name=DummyJSON+-+Coffee&currency_code=USD"
          target="_blank"
        >
          <b>Buy me a coffee</b>
        </a>
      </li>
    </ul>
  </nav>
</header>
