<header>
  <% const hasBanner = typeof(bannerContent) !== "undefined"; %>

  <% if (hasBanner) { %>
  <div id="banner">
    <div class="banner-content"><%- bannerContent %></div>
  </div>
  <% } %>

  <nav class="app-navbar <%= hasBanner ? 'has-banner' : '' %>">
    <div class="nav-items-container">
      <a href="/" class="logo-title">DummyJSON</a>
      <ul class="nav-items">
        <li><a href="/">Home</a></li>
        <li><a href="/docs">Docs</a></li>
        <li class="btn-container">
          <a href="https://github.com/Ovi/DummyJSON" target="_blank" class="btn">
            <img src="/public/img/icons/github.svg" alt="Icon">
            GitHub
          </a>
        </li>
      </ul>
      <span class="nav-burger-menu"><img src="/public/img/icons/bar.svg" alt="Nav Menu" /></span>
    </div>
  </nav>
</header>
