<div class="not-supported">
  screen size not supported
</div>

<header>
  <nav>
    <div class="logo">
      <a class="no-underline" href="/">dummy<b>JSON</b></a>
    </div>
    <ul id="navItems" class="items">
      <li class="<%= path === 'home' ? 'active' : '' %>">
        <a href="/">Home</a>
      </li>
      <li class="<%= path === 'docs' ? 'active' : '' %>">
        <a href="/docs">Docs</a>
      </li>
      <li>
        <a href="https://github.com/Ovi/DummyJSON" target="_blank">GitHub</a>
      </li>
    </ul>
  </nav>
</header>
