NODE_ENV=development
JWT_SECRET=A_VERY_SECRET_KEY
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=dummyjson-test-db
# GOOGLE_TAG_ID=""
# GOOGLE_ADS_TXT_CONTENT=""
# BANNER_CONTENT=""
# AWS_ACCESS_KEY=""
# AWS_SECRET_KEY=""
# AWS_BUCKET_NAME=""
LOG_ENABLED=true
# PUSHOVER_USER_KEY=""
# PUSHOVER_API_TOKEN=""
# NUM_WORKERS=1
# CLOUDFLARE_API_TOKEN=""
SPONSORS_CONTENT='{"featured":[{"name":"Google","url":"https://google.com","logo":"https://thumb.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/960px-Google_%22G%22_logo.svg.png","tagline":"The search engine."}],"cta":{"label":"Become a sponsor","url":"https://github.com/sponsors/Ovi"}}'
