<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="https://cdn.dummyjson.com/public/fav.png" />

  <title>Free Mock API for Custom JSON Data | DummyJSON</title>
  <meta name="description" content="Easily create a custom JSON Response REST API with DummyJSON. Perfect for development, testing, prototyping, and mock APIs, this tool lets you generate custom APIs with tailored data." />

  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow" />
  <meta name="bingbot" content="index, follow" />

  <meta property="og:title" content="Free Mock API for Custom JSON Data | DummyJSON" />
  <meta property="og:description" content="Easily create a custom JSON Response REST API with DummyJSON. Perfect for development, testing, prototyping, and mock APIs, this tool lets you generate custom APIs with tailored data." />
  <meta property="og:image" content="https://dummyjson.com/public/img/meta.png" />
  <meta property="og:url" content="https://dummyjson.com/custom-response" />
  <meta property="og:site_name" content="DummyJSON" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />

  <link rel="canonical" href="https://dummyjson.com/custom-response" />

  <link rel="stylesheet" href="/public/css/styles.css" />

  <!-- JSON-LD structured data for rich snippets -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "Free Mock API for Custom JSON Data | DummyJSON",
      "url": "https://dummyjson.com/custom-response",
      "description": "Easily create a custom JSON Response REST API with DummyJSON. Perfect for development, testing, prototyping, and mock APIs, this tool lets you generate custom APIs with tailored data.",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://dummyjson.com/custom-response"
      },
      "publisher": {
        "@type": "Organization",
        "name": "DummyJSON",
        "logo": {
          "@type": "ImageObject",
          "url": "https://dummyjson.com/public/img/meta.png",
          "width": 600,
          "height": 60,
          "caption": "DummyJSON Logo"
        },
        "sameAs": [
          "https://github.com/Ovi/DummyJSON",
          "https://x.com/DummyJSON",
          "https://linkedin.com/company/DummyJSON"
        ]
      },
      "breadcrumb": {
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "DummyJSON - Free Fake REST API for Placeholder JSON Data",
            "item": "https://dummyjson.com"
          },
          {
            "@type": "ListItem",
            "position": 2,
            "name": "Free Mock API for Custom JSON Data | DummyJSON",
            "item": "https://dummyjson.com/custom-response"
          }
        ]
      }
    }
  </script>

  <% if (typeof(googleTagId) !== "undefined") { %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= googleTagId %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '<%= googleTagId %>');
  </script>
  <% } %>

  <!-- Google Ads -->
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1874186634672982"
    crossorigin="anonymous"
  ></script>
</head>

<body>
  <!-- header -->
  <%- include('./partials/header') %>

  <section class="custom-response standalone">
    <div class="content centered">
      <h2>
        <span class="heading-star"></span>
        Free Mock API <br /> for Custom JSON Data
      </h2>
      <p>
        Need a free mock REST API for your own JSON data?
        <br />
        Enter your response body below and click <b>"Generate Now"</b> to instantly get your custom API URL.
      </p>

      <div class="code-container">
        <div class="req-body-helper">
          <span>// "response" body, what you expect from your custom API</span>

          <button class="prettify-btn">Prettify <img src="data:image/svg+xml;utf8,<svg class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23000000' viewBox='0 0 24 24'>
            <path fill-rule='evenodd' d='M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-7ZM8 16a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1-5a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z' clip-rule='evenodd'/>
          </svg>" alt=""></button>
        </div>

        <div class="json-code">
          <pre><code contenteditable></code></pre>
        </div>
      </div>

      <div class="input-container x-copy">
        <input type="url" readonly value="" placeholder="https://dummyjson.com/c/abcd-1234" />
      </div>

      <span class="changer">
        Request method type:
        <span class="selector">
          <span class="selector-placeholder"></span>
          <span class="method-selector-el">
            <input type="radio" name="requestMethod" value="GET" id="GET" checked />
            <label for="GET">GET</label>

            <input type="radio" name="requestMethod" value="POST" id="POST" />
            <label for="POST">POST</label>

            <input type="radio" name="requestMethod" value="PUT" id="PUT" />
            <label for="PUT">PUT</label>

            <input type="radio" name="requestMethod" value="PATCH" id="PATCH" />
            <label for="PATCH">PATCH</label>

            <input type="radio" name="requestMethod" value="DELETE" id="DELETE" />
            <label for="DELETE">DELETE</label>
          </span>
        </span>
      </span>

      <div class="btns-container">
        <button class="btn primary" onclick="generateCustomAPI()">
          <img src="/public/img/icons/magic-wand.svg" alt="Icon">
          Generate Now
        </button>
      </div>
    </div>
  </section>
</body>

<script src="/public/js/custom-json-highlight.min.js" defer></script>
<script src="/public/js/common.min.js" defer></script>
<script src="/public/js/custom-response.min.js" defer></script>

</html>