<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('./partials/docs-head') %>

<body>
  <!-- header -->
  <%- include('./partials/header') %>

  <!-- side-nav -->
  <%- include('./partials/docs-side-nav') %>

  <section>
    <div class="content">
      <h1 class="docs-title">
        <img src="/public/img/icons/quotes.svg" class="icon" alt="svg icon" /> Quotes - Docs
      </h1>
      <p class="display-para">
        The <strong>quotes</strong> endpoint provides a dataset of sample quotes, including details like the quote text and author information, ideal for testing and prototyping features in applications that require motivational or inspirational content.
      </p>

      <div class="resource" id="quotes-all">
        <a href="#quotes-all" class="res-title">Get all quotes</a>
        <p class="res-desc">
          By default you will get 30 items, use <a href="#quotes-limit_skip">Limit and skip</a> to paginate through all items.
        </p>
        <pre><code class="language-js">
          fetch('https://dummyjson.com/quotes')
          .then(res => res.json())
          .then(console.log);
        </code></pre>

        <button class="show-output btn">Show Output</button>

        <pre class="output"><code class="language-json">
          {
            "quotes": [
              {
                  "id": 1,
                  "quote": "Life isn't about getting and having, it's about giving and being.",
                  "author": "Kevin Kruse"
              },
              {
                  "id": 2,
                  "quote": "Whatever the mind of man can conceive and believe, it can achieve.",
                  "author": "Napoleon Hill"
              },
              {
                  "id": 3,
                  "quote": "Strive not to be a success, but rather to be of value.",
                  "author": "Albert Einstein"
              },
              {...},
              {...}
              // 30 items
            ],
            "total": 100,
            "skip": 0,
            "limit": 30
          }
        </code></pre>
      </div>

      <div class="resource" id="quotes-single">
        <a href="#quotes-single" class="res-title">Get a single quote</a>
        <pre><code class="language-js">
          fetch('https://dummyjson.com/quotes/1')
          .then(res => res.json())
          .then(console.log);
        </code></pre>

        <button class="show-output btn">Show Output</button>

        <pre class="output"><code class="language-json">
          {
            "id": 1,
            "quote": "Life isn't about getting and having, it's about giving and being.",
            "author": "Kevin Kruse"
          }
        </code></pre>
      </div>

      <div class="resource" id="quotes-random">
        <a href="#quotes-random" class="res-title">Get a random quote</a>
        <p class="res-tip">
          The random data will change on every call to `/random`.
          <br />
          You can optionally pass a length of max 10 as `/random/10`.
        </p>
        <pre><code class="language-js">
          fetch('https://dummyjson.com/quotes/random')
          .then(res => res.json())
          .then(console.log);
        </code></pre>

        <button class="show-output btn">Show Output</button>

        <pre class="output"><code class="language-json">
          {
            // random result, will change on every call to /random
            "id": 62,
            "quote": "If you want to lift yourself up, lift up someone else.",
            "author": "Booker T. Washington"
          }
        </code></pre>
      </div>

      <div class="resource" id="quotes-limit_skip">
        <a href="#quotes-limit_skip" class="res-title">Limit and skip quotes</a>
        <p class="res-tip">
          You can pass `limit` and `skip` params to limit and skip the
          results for pagination, and use `limit=0` to get all items.
        </p>
        <pre><code class="language-js">
          fetch('https://dummyjson.com/quotes?limit=3&skip=10')
          .then(res => res.json())
          .then(console.log);
        </code></pre>

        <button class="show-output btn">Show Output</button>

        <pre class="output"><code class="language-json">
          {
            "quotes": [
              {
                "id": 11, // first 10 items were skipped
                "quote": "We must balance conspicuous consumption with conscious capitalism.",
                "author": "Kevin Kruse"
              },
              {
                "id": 12,
                "quote": "Life is what happens to you while you're busy making other plans.",
                "author": "John Lennon"
              },
              {
                "id": 13,
                "quote": "We become what we think about.",
                "author": "Earl Nightingale"
              }
            ],
            "total": 100,
            "skip": 10,
            "limit": 3
          }
        </code></pre>
      </div>
    </div>
  </section>

  <!-- footer -->
  <%- include('./partials/docs-footer') %>

  <script>
    selectNavItem(window.location.hash || '#quotes-all');
  </script>
</body>

</html>