<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('./partials/docs-head') %>

<body>
  <!-- header -->
  <%- include('./partials/header') %>

  <!-- side-nav -->
  <%- include('./partials/docs-side-nav') %>

  <section>
    <div class="content">
      <h1 class="docs-title">
        <img src="/public/img/icons/globe.svg" class="icon" alt="svg icon" /> Mock HTTP Responses - Docs
      </h1>
      <p class="display-para">
        The <strong>http</strong> endpoints allows you to mock and test any HTTP responses, facilitating the development and testing of web applications.
      </p>

      <div class="resource" id="http-mock">
        <a href="#http-mock" class="res-title">Mock HTTP Response</a>
        <p class="res-tip">
          You can mock and test any HTTP responses. You may test each individual HTTP code by visiting:
          <br />
          <a href="https://dummyjson.com/http/200/Hello%20Peter">dummyjson.com/{code}/{optional-message}</a>
        </p>
        <pre><code class="language-js">
          fetch('https://dummyjson.com/http/200')
          .then(res => res.json())
          .then(console.log);
        </code></pre>

        <button class="show-output btn">Show Output</button>

        <pre class="output"><code class="language-json">
          {
            "status": "200",
            "message": "OK"
          }
        </code></pre>
      </div>

      <div class="resource" id="http-custom">
        <a href="#http-custom" class="res-title">Custom HTTP Response</a>
        <pre><code class="language-js">
          fetch('https://dummyjson.com/http/404/Hello_Peter')
          .then(res => res.json())
          .then(console.log);
        </code></pre>

        <button class="show-output btn">Show Output</button>

        <pre class="output"><code class="language-json">
          {
            "status": "404",
            "message": "Hello_Peter"
          }
        </code></pre>
      </div>
    </div>
  </section>

  <!-- footer -->
  <%- include('./partials/docs-footer') %>

  <script>
    selectNavItem(window.location.hash || '#http-mock');
  </script>
</body>

</html>