<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('./partials/docs-head') %>

<body>
  <!-- header -->
  <%- include('./partials/header') %>

  <!-- side-nav -->
  <%- include('./partials/docs-side-nav') %>

  <section>
    <div class="content">
      <h1 class="docs-title">
        <img src="/public/img/icons/image.svg" class="icon" alt="svg icon" /> Image - Docs
      </h1>
      <p class="display-para">
        The <strong>image</strong> endpoint provides customizable placeholder images by specifying size in the URL, with options for background color, text color, and display text, ideal for use in websites and wireframes.
      </p>

      <div class="resource">
        <p class="res-tip">
          The base URL is: <strong><a href="https://dummyjson.com/image">dummyjson.com/image</a></strong>
        </p>
      </div>

      <div class="resource" id="image-square">
        <a href="#image-square" class="res-title">Generate square image</a>
        <pre><code class="language-js">
          // https://dummyjson.com/image/SIZE
          fetch('https://dummyjson.com/image/150')
          .then(response => response.blob()) // Convert response to blob
          .then(blob => {
            console.log('Fetched image blob:', blob);
          })
          // Blob {size: SIZE, type: 'image/png'}
        </code></pre>

        <div class="output-image">
          <h3>Output: </h3>
          <img loading="lazy" src="https://dummyjson.com/image/150" alt="150x150" />
        </div>
      </div>

      <div class="resource" id="image-custom-size">
        <a href="#image-custom-size" class="res-title">Generate custom size image</a>
        <pre><code class="language-js">
          // https://dummyjson.com/image/WIDTHxHEIGHT
          fetch('https://dummyjson.com/image/200x100')
          .then(response => response.blob()) // Convert response to blob
          .then(blob => {
            console.log('Fetched image blob:', blob);
          })
          // Blob {size: SIZE, type: 'image/png'}
        </code></pre>

        <div class="output-image">
          <h3>Output: </h3>
          <img loading="lazy" src="https://dummyjson.com/image/200x100" alt="200x100" />
        </div>
      </div>

      <div class="resource" id="image-custom-text">
        <a href="#image-custom-text" class="res-title">Generate image with custom text</a>
        <pre><code class="language-js">
          // https://dummyjson.com/image/SIZE/?text=TEXT
          fetch('https://dummyjson.com/image/400x200/008080/ffffff?text=Hello+Peter')
          .then(response => response.blob()) // Convert response to blob
          .then(blob => {
            console.log('Fetched image blob:', blob);
          })
          // Blob {size: SIZE, type: 'image/png'}
        </code></pre>

        <div class="output-image">
          <h3>Output: </h3>
          <img loading="lazy" src="https://dummyjson.com/image/400x200/008080/ffffff?text=Hello+Peter" alt="400x200" />
        </div>
      </div>

      <div class="resource" id="image-custom-color">
        <a href="#image-custom-color" class="res-title">Generate image with custom colors</a>
        <pre><code class="language-js">
          // https://dummyjson.com/image/SIZE/BACKGROUND/COLOR
          fetch('https://dummyjson.com/image/400x200/282828')
          .then(response => response.blob()) // Convert response to blob
          .then(blob => {
            console.log('Fetched image blob:', blob);
          })
          // Blob {size: SIZE, type: 'image/png'}
        </code></pre>

        <div class="output-image">
          <h3>Output: </h3>
          <img loading="lazy" src="https://dummyjson.com/image/400x200/282828" alt="400x200" />
        </div>
      </div>

      <div class="resource" id="image-format">
        <a href="#image-format" class="res-title">Generate image with different formats</a>
        <p class="res-tip">Supported Formats:
          <b>
            <a target="_blank" href="https://dummyjson.com/image/400x200?type=png">png</a>,
            <a target="_blank" href="https://dummyjson.com/image/400x200?type=jpg">jpeg</a>,
            <a target="_blank" href="https://dummyjson.com/image/400x200?type=webp">webp</a>
          </b>
        </p>
        <pre><code class="language-js">
          // https://dummyjson.com/image/SIZE/BACKGROUND/COLOR
          fetch('https://dummyjson.com/image/400x200?type=webp&text=I+am+a+webp+image')
          .then(response => response.blob()) // Convert response to blob
          .then(blob => {
            console.log('Fetched image blob:', blob);
          })
          // Blob {size: SIZE, type: 'image/webp'}
        </code></pre>

        <div class="output-image">
          <h3>Output: </h3>
          <img loading="lazy" src="https://dummyjson.com/image/400x200?type=webp&text=I+am+a+webp+image" alt="400x200" />
        </div>
      </div>

      <div class="resource" id="image-font-family">
        <a href="#image-font-family" class="res-title">Generate image with custom font family</a>
        <p class="res-tip">
          Supported Fonts:
          <br />
          <b>
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=bitter">bitter</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=cairo">cairo</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=comfortaa">comfortaa</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=cookie">cookie</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=dosis">dosis</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=gotham">gotham</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=lobster">lobster</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=marhey">marhey</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=pacifico">pacifico</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=poppins">poppins</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=quicksand">quicksand</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=qwigley">qwigley</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=satisfy">satisfy</a>,
            <a target="_blank" href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=ubuntu">ubuntu</a>
          </b>
        </p>
        <pre><code class="language-js">
          // https://dummyjson.com/image/SIZE/BACKGROUND/COLOR
          fetch('https://dummyjson.com/image/400x200/282828?fontFamily=pacifico&text=I+am+a+pacifico+font')
          .then(response => response.blob()) // Convert response to blob
          .then(blob => {
            console.log('Fetched image blob:', blob);
          })
          // Blob {size: SIZE, type: 'image/png'}
        </code></pre>

        <div class="output-image">
          <h3>Output: </h3>
          <img loading="lazy" src="https://dummyjson.com/image/400x200/282828?fontFamily=pacifico&text=I+am+a+pacifico+font" alt="400x200" />
        </div>
      </div>

      <div class="resource" id="image-font-size">
        <a href="#image-font-size" class="res-title">Generate image with custom font size</a>
        <pre><code class="language-js">
          // https://dummyjson.com/image/SIZE/?text=TEXT&fontSize=FONT_SIZE
          fetch('https://dummyjson.com/image/400x200/008080/ffffff?text=Hello+Peter!&fontSize=16')
          .then(response => response.blob()) // Convert response to blob
          .then(blob => {
            console.log('Fetched image blob:', blob);
          })
          // Blob {size: SIZE, type: 'image/png'}
        </code></pre>

        <div class="output-image">
          <h3>Output: </h3>
          <img loading="lazy" src="https://dummyjson.com/image/400x200/008080/ffffff?text=Hello+Peter!&fontSize=16" alt="400x200" />
        </div>
      </div>

      <div class="resource" id="image-identicon">
        <a href="#image-identicon" class="res-title">Generate identicon</a>
        <pre><code class="language-js">
          // https://dummyjson.com/icon/HASH/SIZE/?type=png (or svg)
          fetch('https://dummyjson.com/icon/abc123/150') // png is default
          .then(response => response.blob()) // Convert response to blob
          .then(blob => {
            console.log('Fetched image blob:', blob);
          })
          // Blob {size: SIZE, type: 'image/png'}
        </code></pre>

        <div class="output-image">
          <h3>Output: </h3>
          <img loading="lazy" src="https://dummyjson.com/icon/abc123/150" alt="identicon" />
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <%- include('./partials/docs-footer') %>

  <script>
    selectNavItem(window.location.hash || '#image-square');
  </script>
</body>

</html>