<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>DummyJSON - Image | Custom Placeholder Images for your Web/App</title>
    <meta
      name="description"
      content="DummyJSON Image generates images right from the URL. Just include the size, color, background, text, and even fonts! for FREE!"
    />
    <meta name="author" content="Muhammad Ovi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <% if (typeof(googleTagId) !== "undefined") { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= googleTagId %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
  
      gtag('config', '<%= googleTagId %>');
    </script>
    <% } %>
    <link rel="icon" type="image/png" href="/static/fav.png" />
    <link rel="stylesheet" href="/static/css/image.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>DummyJSON - Image</h1>
        <h2>Custom Placeholder Images for your Web/App</h2>
      </div>

      <div class="arrow"></div>
    </header>

    <section class="main">
      <p class="set-tro">
        When creating a website or wireframe, you might not have all the images
        at first, but you know the sizes ..!
        <br />
        DummyJSON Image provides placeholder images on the fly via URL.
      </p>

      <div class="sample-images">
        <h3>Samples:</h3>
        <p class="hint">
          URL = https://dummyjson.com/image
          <br />
          <br />
          You just need to provide image size after URL. Only image size is
          necessary. Options are available to change text color or background
          color, you can pass second parameter after size which will be the
          background color, it must be hexadecimal, third parameter is the text
          color. The text can be passed with the
          <strong>text</strong> query param. Here are some examples you can look
          at:
        </p>
        <pre><code>&lt;img src="https://dummyjson.com/image/300"&gt;
&lt;img src="https://dummyjson.com/image/250x100"&gt;
&lt;img src="https://dummyjson.com/image/250x100/ff0000"&gt;
&lt;img src="https://dummyjson.com/image/350x200/ff0000/000"&gt;
&lt;img src="https://dummyjson.com/image/350x200/?text=Hello+Peter"&gt;
&lt;img src="https://dummyjson.com/image/350x200/282828/eae0d0/?text=Hello+Peter&fontFamily=cookie"&gt;
</code></pre>

        <div class="img-container">
          <p>
            <span class="url-def">
              Specify one dimension to get a square image
            </span>
            <span class="url-hint">
              URL/WIDTH
            </span>
            <a href="https://dummyjson.com/image/150" target="_blank">
              https://dummyjson.com/image/150
            </a>
          </p>

          <img src="https://dummyjson.com/image/150" alt="150x150 image" />
        </div>

        <div class="img-container">
          <p>
            <span class="url-def">
              Specify width and height
            </span>
            <span class="url-hint">
              URL/WIDTHxHEIGHT
            </span>
            <a href="https://dummyjson.com/image/400x200" target="_blank">
              https://dummyjson.com/image/400x200
            </a>
          </p>

          <img src="https://dummyjson.com/image/400x200" alt="400x200 image" />
        </div>

        <div class="img-container">
          <p>
            <span class="url-def">
              Specify background color
            </span>
            <span class="url-hint">
              URL/SIZE/BACKGROUND
            </span>
            <a href="https://dummyjson.com/image/400x200/282828" target="_blank">
              https://dummyjson.com/image/400x200/282828
            </a>
          </p>

          <img
            src="https://dummyjson.com/image/400x200/282828"
            alt="400x200/282828 image"
          />
        </div>

        <div class="img-container">
          <p>
            <span class="url-def">
              Specify text color
            </span>
            <span class="url-hint">
              URL/SIZE/BACKGROUND/COLOR
            </span>
            <a
              href="https://dummyjson.com/image/400x200/282828/ff0000"
              target="_blank"
            >
              https://dummyjson.com/image/400x200/282828/ff0000
            </a>
          </p>

          <img
            src="https://dummyjson.com/image/400x200/282828/ff0000"
            alt="400x200/282828/ff0000 image"
          />
        </div>

        <div class="img-container">
          <p>
            <span class="url-def">
              Specify image format
            </span>
            <span class="url-hint">
              URL/?type=TYPE
            </span>
            <span class="url-hint">
              <small>Supported Formats: [png, jpg, webp]</small>
            </span>
            <a
              href="https://dummyjson.com/image/400x200/282828?type=jpg"
              target="_blank"
            >
              https://dummyjson.com/image/400x200/282828?type=jpg
            </a>
          </p>

          <img
            src="https://dummyjson.com/image/400x200/282828?type=jpg"
            alt="400x200/282828?type=jpg image"
          />
        </div>

        <div class="img-container">
          <p>
            <span class="url-def">
              Specify custom text
            </span>
            <span class="url-hint">
              URL/?text=TEXT
            </span>
            <a
              href="https://dummyjson.com/image/400x200/282828?text=Hello+Peter!"
              target="_blank"
            >
              https://dummyjson.com/image/400x200/282828?text=Hello+Peter!
            </a>
          </p>

          <img
            src="https://dummyjson.com/image/400x200/282828?text=Hello+Peter!"
            alt="400x200/282828?text=Hello+Peter! image"
          />
        </div>

        <div class="img-container">
          <p>
            <span class="url-def">
              Specify font family
            </span>
            <span class="url-hint">
              URL/?text=TEXT&fontFamily=cookie
            </span>
            <span class="url-hint">
              <small><a href="#available-fonts">See available fonts</a></small>
            </span>
            <a
              href="https://dummyjson.com/image/400x200/282828?text=Hello+Peter!&fontFamily=cookie"
              target="_blank"
            >
              https://dummyjson.com/image/400x200/282828?text=Hello+Peter!&fontFamily=cookie
            </a>
          </p>

          <img
            src="https://dummyjson.com/image/400x200/282828?text=Hello+Peter!&fontFamily=cookie"
            alt="400x200/282828?text=Hello+Peter!&fontFamily=cookie image"
          />
        </div>

        <div class="img-container">
          <p>
            <span class="url-def">
              Specify font size
            </span>
            <span class="url-hint">
              URL/?text=TEXT&fontSize=FONT_SIZE
            </span>
            <a
              href="https://dummyjson.com/image/400x200?text=Hello+Peter!&fontSize=16"
              target="_blank"
            >
              https://dummyjson.com/image/400x200?text=Hello+Peter!&fontSize=16
            </a>
          </p>

          <img
            src="https://dummyjson.com/image/400x200?text=Hello+Peter!&fontSize=16"
            alt="400x200?text=Hello+Peter!&fontSize=16 image"
          />
        </div>

        <div id="available-fonts">
          <h3>Available fonts</h3>
          <ul>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=bitter"
              target="_blank"
            >
              bitter
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=cairo"
              target="_blank"
            >
              cairo
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=comfortaa"
              target="_blank"
            >
              comfortaa
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=cookie"
              target="_blank"
            >
              cookie
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=dosis"
              target="_blank"
            >
              dosis
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=gotham"
              target="_blank"
            >
              gotham
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=lobster"
              target="_blank"
            >
              lobster
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=marhey"
              target="_blank"
            >
              marhey
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=pacifico"
              target="_blank"
            >
              pacifico
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=poppins"
              target="_blank"
            >
              poppins
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=quicksand"
              target="_blank"
            >
              quicksand
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=qwigley"
              target="_blank"
            >
              qwigley
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=satisfy"
              target="_blank"
            >
              satisfy
            </a>
            <a
              href="https://dummyjson.com/image/250?text=Hello+Peter!&fontFamily=ubuntu"
              target="_blank"
            >
              ubuntu
            </a>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <a href="https://dummyjson.com/?ref=i" target="_blank">
        Made with Love, by DummyJSON (Ovi)
      </a>
    </footer>
    <script type="text/javascript">
      document.querySelector('.arrow').addEventListener('click', () => {
        document
          .querySelector('section')
          .scrollIntoView({ behavior: 'smooth' });
      });
    </script>
  </body>
</html>
