@import './partial/_nav.scss';

html {
  scroll-behavior: smooth;
}

.docs-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 100;
  overflow: auto;
  background: $primary-color;
  padding: 0;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border: 0.5rem solid $primary-color;

  &.active {
    top: $nav_height * 2 + 20px;
    max-height: calc(100vh - 10rem);
    opacity: 1;
  }

  @include breakpoint(md) {
    top: 6rem;
    right: 2rem;
    left: unset;
    width: 14rem; // 224px
    max-height: calc(100vh - 13rem);
    opacity: 1;
    border: 0.5rem solid #f3f3f3;
    border-radius: 0.5rem;

    &.active {
      top: 6rem;
      max-height: calc(100vh - 13rem);
      opacity: 1;
    }
  }

  @include breakpoint(lg) {
    right: 3rem;
    width: 18.75rem; // 300px
  }

  .docs-menu {
    .child-menu {
      margin-left: 1rem;
      margin-right: 1rem;
      font-weight: normal;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;

      a {
        font-size: 1rem;
      }
    }

    li {
      background-color: #f3f3f3;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(#e4e1e1, 0.5);
      }

      // general menu items
      a {
        display: block;
        cursor: pointer;
        color: #000;
        transition: all 0.3s ease-in-out, text-decoration 0s;
        border-radius: 0;
        font-size: 1rem;
        font-weight: normal;
        padding: 0.75rem;

        &:hover {
          color: $primary-color-dark;
        }

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }

        &.active {
          color: $primary-color-dark;
        }

        &.parent-menu-item {
          display: flex;
          align-items: center;

          svg {
            color: inherit;
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 0.5rem;
            opacity: 0.5;
            transition: all 0.3s ease-in-out;
          }

          &:hover,
          &.active {
            svg {
              opacity: 0.75;
            }
          }
        }
      }

      // standalone menu items
      &:not(:has(.child-menu)) {
        a {
          color: inherit;

          &:hover {
            color: $primary-color-dark;
          }
        }
      }

      // nested menu items
      &:has(.child-menu) {
        a {
          position: relative;

          &:hover,
          &.active {
            color: $primary-color-dark;
          }
        }

        > a {
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0.5rem;
            transform: translate(-50%, -50%) rotate(135deg);
            width: 0.5rem;
            height: 0.5rem;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
            transition: 0.4s all ease-in-out;
          }

          &:hover {
            &::after {
              border-color: $primary-color-dark;
            }
          }

          &.active {
            &::after {
              border-color: $primary-color-dark;
              transform: translate(-50%, -50%) rotate(315deg);
            }

            & + .child-menu {
              max-height: 800px;
              overflow: unset;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

section {
  padding: 0.5rem;
  padding-top: 3.75rem;
  border: 5px solid rgba($color: $primary-color, $alpha: 0.5);
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $primary-color;
    position: absolute;
    bottom: 0;
    right: 0;
    filter: blur(150px);
  }

  @include breakpoint(xs) {
    padding-top: 4.5rem;
    border-width: 10px;
  }

  @include breakpoint(sm) {
    border-width: 15px;
  }

  @include breakpoint(md) {
    padding: 1rem;
    padding-top: 5rem;
    border-width: 15px;
  }

  @include breakpoint(lg) {
    padding: 2rem;
    padding-top: 5rem;
  }

  .content {
    max-width: 130rem;
    width: 100%;

    @include breakpoint(md) {
      width: calc(100% - 15rem);
    }

    @include breakpoint(lg) {
      width: calc(100% - 20.75rem);
    }

    .display-para {
      font-size: 1rem;
      font-weight: 500;
      margin-top: 1rem;
      margin-bottom: 1rem;

      @include breakpoint(sm) {
        font-size: 1.25rem;
        line-height: 1.25rem;
      }

      @include breakpoint(md) {
        font-weight: 300;
      }

      @include breakpoint(xl) {
        font-size: 1.75rem;
        line-height: 1.75rem;
      }
    }

    .docs-title {
      font-size: 1.25rem;
      margin-top: 3rem;
      display: flex;
      align-items: center;

      @include breakpoint(xs) {
        font-size: 1.5rem;
      }

      @include breakpoint(sm) {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }

      @include breakpoint(xl) {
        font-size: 3rem;
        line-height: 3rem;
      }

      .icon {
        height: 2.5rem;
        width: 2.5rem;
        display: inline-block;
        margin-right: 0.5rem;
      }
    }

    .resource {
      scroll-margin: 5rem;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      z-index: 1;
      padding-bottom: 2rem;
      border-bottom: 0.25rem solid #e9eded;

      &:last-child {
        border-bottom: none;
      }

      .res-title {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        display: inline-block;
        max-width: fit-content;
        color: black;
        position: relative;

        &::after {
          content: '';
          height: 1.25rem;
          width: 1.25rem;
          position: absolute;
          right: -1.75rem;
          top: 0.5rem;
          display: inline-block;
          margin-left: 0.5rem;
          background-image: url('https://assets.dummyjson.com/public/img/icons/link.svg');
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      .res-desc {
        margin-top: 0.5rem;
      }

      .res-tip {
        margin-top: 1rem;
        display: inline-block;
        color: black;
        position: relative;
        max-width: fit-content;
        background: #ffeac3;
        padding: 1rem;
        padding-left: 2.5rem;
        border-radius: 0.5rem;

        &::before {
          content: '';
          height: 1.5rem;
          width: 1.5rem;
          position: absolute;
          left: 0;
          top: calc(50% - 0.75rem);
          display: inline-block;
          margin-left: 0.5rem;
          background-image: url('https://assets.dummyjson.com/public/img/icons/lightbulb.svg');
          background-size: contain;
          background-repeat: no-repeat;
        }

        .inline-code {
          display: inline-block;
          font-family: 'Courier New', Courier, monospace;
          color: #263238;
          border: 1px solid rgba(#263238, 0.25);
          background-color: rgba(#fff, 0.5);
          padding: 0.15rem 0.125rem 0 0.125rem;
          border-radius: 0.25rem;
        }
      }

      pre {
        max-height: 500px;
        background-color: #263238;
        padding: 0;
        border-radius: 0.5rem;
        width: 100%;
        margin-top: 1rem;

        code {
          font-family: 'Courier New', Courier, monospace;
          font-size: 1rem;
          line-height: 1.25rem;
          color: #e9eded;
          background-color: #263238;
          border-radius: 0.5rem;
          display: block;
          margin: 0;
          padding: 1rem;
          border: 2px solid #111;
          height: auto;
          max-height: 500px;
          overflow: auto;

          & * {
            font-family: 'Courier New', Courier, monospace;
          }
        }

        &.output {
          max-height: 0;
          opacity: 0;
          margin-top: 0;
          transition: all 0.3s ease-in-out;

          code {
            font-size: 0.75rem;
            line-height: 1rem;
          }

          &.active {
            max-height: 500px;
            opacity: 1;
            margin-top: 1rem;
          }
        }
      }

      .show-output {
        display: inline-block;
        max-width: fit-content;
        margin-top: 1rem;
      }

      .output-image {
        margin-top: 1rem;
        padding-left: 0;
        max-width: 100%;

        h3 {
          font-size: 1.25rem;
          margin-bottom: 1rem;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}

.social-links-container {
  display: block;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: none;

  @include breakpoint(xs) {
    border-width: 10px;
    border-top: none;
  }

  @include breakpoint(sm) {
    border-width: 15px;
  }

  @include breakpoint(md) {
    border-width: 15px;
  }

  .buy-me-coffee-btn {
    text-align: center;
    width: fit-content;
    position: relative;
    padding: 1rem;
    padding-right: 3rem;
    display: none;

    @include breakpoint(xs) {
      display: flex;
    }

    img {
      position: absolute;
      right: -0.75rem;
      max-height: 100%;
    }

    @include breakpoint(sm) {
      min-width: 200px;
    }
  }

  .social-links-items {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: inline-block;
      text-decoration: none;
      margin: 0 0.25rem;
      height: 1.5rem;
      width: 1.5rem;

      @include breakpoint(sm) {
        margin: 0 0.5rem;
        height: 2rem;
        width: 2rem;
      }

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }

    img {
      width: 100%;
      height: 100%;
      transition: 0.3s all ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
