@import './mixin/breakpoints.scss';

main {
  margin-top: 65px;

  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 65px);

    .intro {
      height: 100%;
      min-width: 50%;
      padding: 25px;
      text-align: center;
      margin-top: -50px; // fix to center hero title

      h1 {
        font-weight: 400;
        font-size: 72px;
      }

      p {
        font-size: 24px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 50px;
      }

      .button {
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }

    .carousel {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 50%;

      blockquote {
        width: 350px;
        font-family: monospace;
        margin-bottom: 15px;
        font-size: 10px;

        code {
          min-height: 250px;
          overflow: hidden;
        }
      }

      .product-title {
        font-weight: 400;
        display: inline-block;
      }

      .product-price {
        font-family: monospace;
        display: inline-block;
        margin-bottom: 8px;
      }

      small.product-category {
        font-size: 12px;
        padding: 2px 4px;
        border-radius: 3px;
        background: #444444;
        color: #fff;
        cursor: pointer;
      }

      .product-rating-container {
        display: inline-block;
      }
    }

    @include media('>=LGdesktop') {
      .intro {
        h1 {
          font-size: 100px;
        }

        p {
          font-size: 36px;
          line-height: 42px;
        }
      }

      .carousel {
        blockquote {
          width: 750px;
          font-size: 16px;

          code {
            min-height: 400px;
          }
        }

        .product-title {
          font-size: 36px;
        }

        .product-price {
          font-size: 26px;
        }

        small.product-category {
          font-size: 16px;
          padding: 4px 8px;
          border-radius: 5px;
        }

        .product-rating-container {
          font-size: 20px;
        }
      }
    }

    @include media('>=desktop', '<LGdesktop') {
      .intro {
        h1 {
          font-size: 80px;
        }

        p {
          font-size: 30px;
          line-height: 30px;
        }
      }

      .carousel {
        blockquote {
          width: 500px;
          font-size: 14px;

          code {
            min-height: 352px;
          }
        }
      }
    }

    @include media('>=tablet', '<desktop') {
      .intro {
        h1 {
          font-size: 48px;
          text-align: left;
        }

        p {
          text-align: left;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }

    @include media('>=mid-tab', '<tablet') {
      .intro {
        min-width: 100%;
      }

      .carousel {
        display: none;
      }
    }

    @include media('>=phone', '<mid-tab') {
      .intro {
        min-width: 100%;

        h1 {
          font-size: 60px;
        }

        p {
          font-size: 22px;
        }
      }

      .carousel {
        display: none;
      }
    }

    @include media('>=small-phone', '<phone') {
      .intro {
        min-width: 100%;

        h1 {
          font-size: 42px;
          margin-bottom: 10px;
        }

        p {
          font-size: 18px;
        }
      }

      .carousel {
        display: none;
      }
    }
  }

  #sample {
    padding: 25px;
    background-color: #f0f0f0;
    color: #2b2b2b;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .why-us {
      text-align: center;
      width: 80%;

      h2 {
        font-size: 48px;
      }

      p {
        font-size: 24px;
      }
    }

    .example {
      width: 80%;

      blockquote {
        font-family: monospace;
        font-size: 14px;
      }

      h2 {
        font-size: 24px;
        padding: 16px 0px;
      }

      button {
        cursor: pointer;
        color: #fff;
        margin: 15px 0px;
        margin-right: 10px;
        padding: 10px 18px;
        border-radius: 50px;
        border: 2px solid #0a0a0a;
        background-color: #0a0a0a;
        transition: all 0.3s;

        &:hover {
          box-shadow: 0px 0px 5px 2px rgba(#000000, 0.25);
        }
      }

      button.ghost {
        color: #000;
        background-color: transparent;
      }

      .try-it-response {
        margin-bottom: 25px;
      }
    }

    @include media('>=LGdesktop') {
      .example {
        width: 80%;

        blockquote {
          font-size: 16px;
        }

        h2 {
          font-size: 28px;
        }

        button {
          margin: 20px 0px;
          font-size: 20px;
        }
      }
    }

    @include media('>=desktop', '<LGdesktop') {
      .why-us {
        p {
          font-size: 22px;
        }
      }
    }

    @include media('>=tablet', '<desktop') {
      .why-us {
        width: 95%;

        h2 {
          font-size: 36px;
        }

        p {
          font-size: 18px;
        }
      }

      .example {
        width: 95%;
      }
    }

    @include media('>=mid-tab', '<tablet') {
      .why-us {
        width: 95%;

        h2 {
          font-size: 30px;
        }

        p {
          font-size: 16px;
        }
      }

      .example {
        width: 95%;

        blockquote {
          font-size: 12px;
        }
      }
    }

    @include media('>=phone', '<mid-tab') {
      padding: 15px;

      .why-us {
        width: 100%;

        h2 {
          font-size: 28px;
        }

        p {
          font-size: 14px;
        }
      }

      .example {
        width: 100%;

        blockquote {
          font-size: 10px;
        }
      }
    }

    @include media('>=small-phone', '<phone') {
      padding: 10px;

      .why-us {
        width: 100%;

        h2 {
          font-size: 24px;
        }

        p {
          font-size: 14px;
        }
      }

      .example {
        width: 100%;

        blockquote {
          font-size: 10px;
        }
      }
    }
  }

  #resources {
    padding: 25px;
    background-color: #fff;
    color: #2b2b2b;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .resources {
      text-align: center;
      width: 80%;

      h2 {
        font-size: 48px;
      }

      p {
        font-size: 24px;
      }
    }

    .resources-container,
    .routes-container {
      width: 80%;
      text-align: left;
      margin: 20px 0;
      padding-bottom: 25px;

      a {
        color: #269253;
        display: inline-block;

        &:not([href]) {
          color: inherit;
        }

        &::after {
          content: '';
          width: 0px;
          height: 2px;
          display: block;
          background: #269253;
          transition: 0.3s;
        }

        &:hover::after {
          width: 100%;
        }

        &:not([href]):hover::after {
          width: 0;
        }
      }

      table {
        tr td {
          padding: 5px 10px 5px 0;

          &.comment {
            color: #a3a3a3;
          }
        }
      }

      .resources-note,
      .routes-note {
        margin-top: 15px;
      }
    }

    .resources-container {
      border-bottom: 1px solid rgba(#000000, 0.25);
    }

    @include media('>=tablet', '<desktop') {
      padding: 20px;

      .resources {
        width: 85%;

        h2 {
          font-size: 44px;
        }

        p {
          font-size: 20px;
        }
      }
    }

    @include media('>=mid-tab', '<tablet') {
      padding: 20px;

      .resources {
        width: 90%;

        h2 {
          font-size: 40px;
        }

        p {
          font-size: 18px;
        }
      }

      .resources-container,
      .routes-container {
        width: 90%;

        table {
          tr {
            td {
              padding-bottom: 0;

              &.comment {
                float: left;
                line-height: 22px;
                width: 100%;
                padding: 0;
                padding-bottom: 3px;
                border-bottom: 1px solid rgba(#000000, 0.25);
              }
            }
          }
        }
      }

      .routes-container {
        table {
          tr {
            display: block;
          }
        }
      }
    }

    @include media('>=phone', '<mid-tab') {
      padding: 15px;

      .resources {
        width: 100%;

        h2 {
          font-size: 36px;
        }

        p {
          font-size: 16px;
        }
      }

      .resources-container,
      .routes-container {
        width: 95%;

        table {
          tr {
            td {
              padding-bottom: 0;

              &.comment {
                float: left;
                line-height: 22px;
                width: 100%;
                padding: 0;
                padding-bottom: 3px;
                border-bottom: 1px solid rgba(#000000, 0.25);
              }
            }
          }
        }
      }

      .routes-container {
        table {
          tr {
            display: block;
          }
        }
      }
    }

    @include media('>=small-phone', '<phone') {
      padding: 10px;

      .resources {
        width: 100%;

        h2 {
          font-size: 36px;
        }

        p {
          font-size: 16px;
        }
      }

      .resources-container,
      .routes-container {
        width: 95%;

        table {
          tr {
            td {
              padding-bottom: 0;

              &.comment {
                float: left;
                line-height: 22px;
                width: 100%;
                padding: 0;
                padding-bottom: 3px;
                border-bottom: 1px solid rgba(#000000, 0.25);
              }
            }
          }
        }
      }

      .routes-container {
        table {
          tr {
            display: block;
          }
        }
      }
    }
  }

  footer {
    padding-top: 8px;
    min-height: 40px;
    background-color: #ebebeb;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-extra {
    text-align: center;
    background-color: #dfdfdf;
    padding: 3px;
    font-size: 12px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

pre code.hljs {
  border-radius: 10px;
}

.hidden {
  display: none !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: #2e5139;
  background: #49c37c;
}
::selection {
  color: #2e5139;
  background: #49c37c;
}
