@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 100;
  src: url('https://assets.dummyjson.com/public/fonts/DM_Sans/DMSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 300;
  src: url('https://assets.dummyjson.com/public/fonts/DM_Sans/DMSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 400;
  src: url('https://assets.dummyjson.com/public/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 700;
  src: url('https://assets.dummyjson.com/public/fonts/DM_Sans/DMSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 900;
  src: url('https://assets.dummyjson.com/public/fonts/DM_Sans/DMSans-Black.ttf') format('truetype');
}
